$mainFont: 'Montserrat', sans-serif
$mainColor: #000000

html
    font-family: $mainFont

h1, h2, h3, h4, h5, h6, p
    margin: 0

.grid
    display: grid

.m-0
    margin: 0

.m-30
    margin: 30px

.mx-0
    margin-left: 0
    margin-right: 0

.my-0
    margin-top: 0
    margin-bottom: 0

.my-50
    margin-top: 50px
    margin-bottom: 50px

.m-auto
    margin: auto

.mx-auto
    margin-left: auto
    margin-right: auto

.my-auto
    margin-top: auto
    margin-bottom: auto

.p-30
    padding: 30px

.pb-15
    padding-bottom: 15px

.rounded
    border-radius: 20px

.bg-white-blur
    background-color: #ffffff40
    backdrop-filter: blur(5px)

.section-drd
    background-image: url('/img/bg-1.jpg')

.container
    width: 90%
    margin: 0 auto

.grid-cols-1
    grid-template-columns: 1fr

.grid-cols-2
    grid-template-columns: repeat(2, 1fr)

.grid-cols-3
    grid-template-columns: repeat(3, 1fr)

.cols-gap-50
    column-gap: 50px

.col-drd
    border: 2px solid black
    padding: 10px
    border-radius: 20px

.position-relative
    position: relative

.card-item, .moving
    background: #017aac
    border-radius: 20px
    padding: 30px
    row-gap: 10px
    color: white
    grid-template-columns: repeat(2, 1fr)
    align-items: center
    justify-content: space-between
    cursor: move
    border: 3px dotted transparent

    .card-desc
        padding: 25px
        background-color: #ffffff40
        backdrop-filter: blur(5px)
        color: black
        border-radius: 20px
        grid-column-start: span 2

    .card-exp-date
        grid-column-start: 2
        grid-row-start: 1
        font-size: 0.8rem
        justify-self: right

    &.over
        border: 3px dotted #666

    &.empty-card
        border: 3px dotted #666
        background: transparent

    &.not-empty-card
        opacity: 1

    .card-content
        grid-column: span 2
        row-gap: 30px
    
    .card-categories
        grid-column: span 2
        grid-template-columns: repeat(auto-fit, minmax(max-content, 100px))
        grid-auto-flow: column
        column-gap: 12px

        .status
            width: 100px
            border-radius: 20px
            text-align: center
            font-size: 12px
            padding: 3px
            font-weight: 700
            color: white
            border: none

        .urgent
            background: red

        .normal
            background: coral

        .before-urgent
            background: aquamarine
            color: $mainColor           
        
        .empty-field
            background: #ffffff40
            width: 100px
            border-radius: 20px
            text-align: center
            font-size: 12px
            padding: 3px
            font-weight: 700
            color: $mainColor
            border: 1px solid $mainColor
        
        .add-more-cat
            border: 2px dotted white
            background: transparent
            color: white
            border-radius: 100%
            width: 23px
            height: 23px
            order: 2

        .delete
            color: $mainColor
            background: white
            border-radius: 100%
            font-size: 10px
            padding: 1px 4px
            text-decoration: none
            position: absolute
            right: -5px
            top: -5px

        

.card-item.empty-card
    .card-desc
            background-color: transparent!important
            backdrop-filter: unset!important

    .card-categories
        .new-fields
            display: none
