:root {
    --font-family-one: 'Cormorant Garamond', serif;
    --font-family-two: 'Montserrat', sans-serif;
    --color-main: #2D5661;
    --color-dark: #000;
    --color-light: #fff;
}

::selection {
    color: var(--color-light) !important;
    background: var(--color-main) !important;
}

html {
    color: var(--color-main);
    font-family: var(--font-family-two);
    scroll-behavior: smooth;
}

.content-wrapper {
    width: 90%;
    margin: 0 auto;
}

/* CSS MENU and MOBILE MENU */
.menu-icon,
.mobile-menu {
    display: none;
}

/* END OF CSS MENU and MOBILE MENU */

.d-grid {
    display: grid;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 600;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.btn-circle {
    color: var(--color-main);
    font-size: 13px;
    text-decoration: none;
    border: 1px solid var(--color-main);
    padding: 81px 52.165px;
    border-radius: 50%;
    transition: all .4s ease 0s;
}

.mg-side-auto {
    margin: 0 auto !important;
}

.w-75 {
    width: 75%;
    margin: 0 auto;
}

.w-65 {
    width: 75%;
}

.center-text {
    text-align: center;
}

.grid-double-max-content {
    grid-template-columns: repeat(2, max-content);
}

.justify-between {
    justify-content: space-between;
}

.btn-circle:hover {
    background-color: var(--color-main);
    color: var(--color-light);
    transition: all .4s ease 0s;
}

.row-title-50 {
    font-size: 50px;
    font-family: var(--font-family-one);
    margin-bottom: 23px;
    line-height: 1em;
    font-weight: 500;
}

.page-home,
.page-treatment,
.page-faq {
    /* visibility: hidden; */
    opacity: 1;
    display: none;
    transition: all 1s linear;
}

.page-home.active,
.page-treatment.active {
    /* visibility: visible; */
    opacity: 1;
    display: block;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    width: 100%;
    transition: all 1s linear;
}

.content {
    font-size: 13px;
    color: var(--color-dark);
    margin: 0;
    line-height: 1.6em;
}

details summary::-webkit-details-marker {
    display: none;
}