/* Tablet Potrait */
@media screen and (max-width: 980px) {

    /* Reset Tablet */
    .tbl-gr-col-single {
        grid-template-columns: 1fr !important;
    }

    .tbl-w-100 {
        width: 100% !important;
    }

    .tbl-w-90 {
        width: 90% !important;
    }

    /* End of Reset Tablet */

    /* CSS MENU and MOBILE MENU */
    .main-navigation {
        display: none!important;
    }

    .menu-icon{
        display: block;
        width: 50px;
        height: 50px;
        color: var(--color-main);
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        z-index: 2;
        cursor: pointer;
        transition: 0.2s ease;
        transform: rotate(180deg);
    }

    .menu-icon:hover{
        transform: scale(1.1);
    }

    .navigation-menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--color-light);
        top: 0;
        right: -100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.6s;
    }

    .navigation-menu nav{
        display: grid;
        text-align: center;
    }

    .navigation-menu li{
        margin: 20px 0;
        overflow: hidden;
        list-style: none;
    }

    .navigation-menu a{
        color: var(--color-main);
        font-size: 30px;
        font-weight: 700;
        position: relative;
        display: inline-block;
        transform: translateX(-250px);
        transition: 0.6s linear;
    }

    .navigation-menu a::before{
        content: "";
        position: absolute;
        width: 0;
        height: 15px;
        bottom: 0;
        left: 0;
        z-index: -1;
        transition: 0.2s linear;
    }

    .navigation-menu a:hover::before{
        width: 100%;
    }

    .menu-icon.active{
        color: var(--color-main);
        transform: rotate(180deg);
        transition: 0.2s ease;
    }

    .navigation-menu.active{
        right: 0;
        z-index: 1;
    }

    .navigation-menu.active a{
        transform: translateX(0);
        transition: 0.6s linear;
    }

    /* END OF CSS MENU and MOBILE MENU */

    .header-wrapper .content-wrapper .main-nav-wrapper {
        justify-self: end;
    }

    /* Banner Home */
    .banner-home .content-wrapper .banner-title {
        font-size: 45px;
    }

    /* End of Banner Home */

    /* Section 1 - Section Treatment */
    /* Row 1 */
    .section-treatment .row-1 {
        padding: 100px 0px;
    }

    .section-treatment .row-1 .content-wrapper .col-1 .title-content-wrapper {
        padding: 100px 0px;
    }

    .section-treatment .row-1 .content-wrapper .col-2 {
        grid-row-start: 1;
    }

    .section-treatment .row-1 .content-wrapper .col-2 .image-wrapper {
        margin: 0 auto;
        width: 100%;
    }
    /* End of Row 1 */

    /* Row 2 */
    .section-treatment .row-2 .row-image .row-content-wrapper{
        grid-template-columns: repeat(2, max-content);
    }

    .section-treatment .row-2 .row-image .row-content-wrapper .col-image{
        grid-template-columns: repeat(2, max-content);
        column-gap: 25px;
    }

    .section-treatment .row-2 .row-image .row-content-wrapper .col-image .image-wrapper{
        width: 190px!important;
    }

    .section-treatment .row-2 .row-image .row-content-wrapper .col-button .button-load-more-wrapper.btn-treat-2{
        transform: translateX(-20px);
    }
    /* End of Row 2 */
    /* End of Section 1 */

    /* Section Opening Hours */
    .section-opening-hours .content-wrapper {
        background-size: auto;
        background-position: 58% 65%;
    }

    .section-opening-hours .content-wrapper .row-wrapper{
        width: auto;
    }
    /* End of Section Opening Hours */
}

@media screen and (max-width: 420px) {

    /* Reset Mobile */
    .m-gr-col-single {
        grid-template-columns: 1fr !important;
    }

    .m-w-100 {
        width: 100% !important;
    }

    .m-w-90 {
        width: 90% !important;
    }

    .m-row-title-30 {
        font-size: 30px;
    }

    /* End of Reset Mobile */

    /* Banner Home */
    .banner-home {
        height: 100vh;
        background-image: url('/img/bg-banner-home-mobile.jpeg');
        background-position: center;
        background-attachment: scroll;
        background-size: cover;
    }

    .banner-home .content-wrapper .banner-title {
        font-size: 35px;
    }

    /* End of Banner Home */

    /* Section 1 */
    /* Row 1 */
    .section-treatment .row-1 {
        padding: 50px 0px;
    }

    .section-treatment .row-1 .content-wrapper .col-1 {
        display: grid;
        width: 90%;
        margin: 0 auto;
    }

    .section-treatment .row-1 .content-wrapper .col-1 .title-content-wrapper {
        width: 100%;
    }

    .section-treatment .row-1 .content-wrapper .col-1 .image-wrapper {
        margin-top: 16px;
        grid-row-start: 2;
        width: 209px !important;
        height: 283px !important;
    }

    .section-treatment .row-wrapper .content-wrapper .row-title {
        margin-top: 35px;
        margin-bottom: 10px;
        font-size: 25px !important;
    }

    .section-treatment .row-1 .content-wrapper .col-2 .image-wrapper {
        height: 500px !important;
        width: 100% !important;
    }

    .section-treatment .row-1 .content-wrapper .col-1 .button-load-more-wrapper {
        width: 150px;
        margin: 0 auto;
    }

    .section-treatment .row-1 .content-wrapper .col-1 .button-load-more-wrapper .btn-load-more {
        bottom: auto;
        top: -30%;
        left: 0%;
        padding: 67px 0px;
        width: 150px;
    }

    /* End of Row 1 */

    /* Row 2 */
    .section-treatment .row-2 .row-title-content {
        text-align: center;
        padding-bottom: 35px;
    }

    .section-treatment .row-2 .row-title-content .content {
        width: 100%;
    }

    .section-treatment .row-2 .row-image .row-content-wrapper .col-image {
        grid-row-gap: 20px;
    }

    .section-treatment .row-2 .row-image .row-content-wrapper .col-image .image-wrapper {
        width: 100%;
        height: 100%;
    }

    .section-treatment .row-2 .row-image .row-content-wrapper .col-button .button-load-more-wrapper.btn-treat-2 {
        transform: translateY(-2rem);
    }

    .section-opening-hours .content-wrapper.mg-side-auto {
        margin-right: auto !important;
    }

    .section-opening-hours .content-wrapper .row-wrapper {
        margin: 0;
        text-align: center;
    }

    /* End of Row 2 */
    /* End of Section 1 */

    /* Section Opening Hours */
    .section-opening-hours .content-wrapper {
        background-size: auto;
        background-position: 62% 56%;
    }

    .section-opening-hours .content-wrapper .row-wrapper{
        margin: 0 auto!important;
    }

    /* End of Section Opening Hours */
}